:root{
  --green:#00b289;
  --grey: #4c4d5f;
  --yellow: #f8db62;
  --white:#fff;
}



*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-color: car(--white);
}

/* navbar*/
.nav-container{
  height:10vh;
  display: flex;
  align-content: center;
  justify-content: space-between;
  border: solid 5px red;
}

.logo{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image {
  height: 30%;
}
.nav-links{
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.nav-links ul li a {
  text-decoration: none;
  font-size: 28px;
  color:var(--grey);
}

.nav-links ul li {
  list-style-type: none;
  display: inline-flex;
  padding: 10px;
}

.nav-buttons{
  border: solid 5px blueviolet;
}