:root {
  --green: #00b289;
  --grey: #4c4d5f;
  --yellow: #f8db62;
  --white: #fff;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-color: car(--white);
  font-family: "Archivo", sans-serif;
}

li{
  list-style: none;
  font-size: 18px;
  margin-top: 18px;
}
/* navbar*/
.nav-container {
  height: 10vh;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.logo {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image {
  height: 30%;
}
.nav-links {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links ul li a {
  text-decoration: none;
  font-size: 28px;
  color: var(--grey);
}

.nav-links ul li {
  list-style-type: none;
  display: inline-flex;
  padding: 10px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.login-button {
  padding: 15px 20px;
  color: var(--green);
  background-color: var(--white);
  border: solid 1px var(--green);
  margin-right: 5%;
  border-radius: 7%;
  cursor: pointer;
}

.start-button {
  padding: 15px 30px;
  background-color: var(--green);
  color: var(--white);
  border-radius: 7%;
  border: none;
  cursor: pointer;
}


/* pricing section */

section{
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

.pricing-header{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1{
  font-size: 38px;
}
h2{
  font-size: 26px;
}
.month-year{
  display: flex;
  align-items: center;
  justify-content: center;

}

.slide-button{
  width: 40px;
  height: 20px;
  border-radius: 25px;
  background-color: var(--green);
}

.white-circle{
  background-color: var(--white);
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-left: 2px;
  z-index: 1;
}

.year{
  color: var(--grey);
  font-size: 18px;
  padding-right: 100px;
  padding-left: 20px;
}

.month{
  font-size: 18px;
  padding-right: 20px;
}

/* price plans */

.workflow,
.workflow-plus{
  border: solid 1px var(--grey);
  width: 30%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 5%;
}

.workflow-heading,
.workflow-list{
  width: 80%;
}

.plan-start-container{
  width: 80%;
}
.plan-start{
    background-color: var(--green);
      color: var(--white);
      border-radius: 2%;
      border: none;
      cursor: pointer;
      width: 100%;
      height: 70px;
      font-size: 20px;
}

.monthly-price{
  font-size: 28px;
}
.workflow-pricing{
  width: 78%;
}

.underline{
  background-color: var(--green);
  width: 80%;
  height: 2px;
}